@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background: hsla(0, 0%, 0%, 1);
	background: linear-gradient(0deg, hsla(0, 0%, 0%, 1) 0%, hsla(236, 68%, 20%, 1) 60%);
	background: -moz-linear-gradient(0deg, hsla(0, 0%, 0%, 1) 0%, hsla(236, 68%, 20%, 1) 60%);
	background: -webkit-linear-gradient(0deg, hsla(0, 0%, 0%, 1) 0%, hsla(236, 68%, 20%, 1) 60%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#101454", GradientType=1);
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	z-index: 1;
	font-size: 50px;
	font-family: "Montserrat";
}

h1,
p {
	margin: 0;
	padding: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff00;
}

li {
	float: right;
}

li a {
	display: block;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
	top: 0%;
	font-size: 20px;
	font-family: "Montserrat";
}

li a:hover {
	background-color: #1bb828;
}