body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-weight: 500;
  background-image: url('dependencies/thoughtProcess/Untitled.png');
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.h1-stuff,
h1 {
  text-align: center;
}

.h1-stuff {
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

h2,
h3,
h4,
h5 {
  font-size: 25px;
  margin: 100px;
}

p {
  margin: 100px;
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat";
}

li a:hover {
  background-color: #1bb828;
}

.content-container {
  width: 80%;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.content img {
  width: 40%;
  margin-left: 20px;
}



body {
    background-image: url('dependencies/ThoughtProcessBackground.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(93, 126, 92)
}


